.index-page .index-slide-banner .bd {
    height: 300px;
}

.index-page .index-slide-banner .bd li {}

.index-page .index-slide-banner .hd {
    position: absolute;
    z-index: 40;
    margin-left: 830px;
    margin-top: -28px;
    text-align: center;
}

.index-page .index-slide-banner .hd li {
    border: 1px solid #f2f2f2;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin-left: 4px;
    width: 12px;
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.index-page .index-slide-banner .hd li.on {
    background-color: #ffaa01;
    border-color: #ffaa01;
}

.index-page .index-slide-banner .hd li {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}



/*登录注册部分样式*/
.index-page .ad-box {}
.index-page .ad-box .right-box {
    position: relative;
    margin-top: -290px;
    margin-left: -220px;
    float: right;
    width: 220px;
    height: 280px;
    z-index: 999;
}
.transparent_class {
    filter: alpha(opacity=60);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.index-page .ad-box .right-box {
    position: relative;
    margin-top: -300px;
    margin-left: -220px;
    float: right;
    width: 220px;
    height: 280px;
    background-color: white;
    filter: alpha(opacity=60);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.6;
}

.index-page .ad-box .right-box .hello {
    padding: 14px;
    font-size: 1.0em;
    height: 20px;
}

.index-page .ad-box .right-box .hello-to {
    padding: 10px;
    font-size: 1.0em;
    height: 20px;
    padding-bottom: 5px;
    background-color: white;
    overflow: hidden;
}

.index-page .ad-box .right-box .hello-to em {
    color: #F90;
    font-style: normal;
}

.index-page .ad-box .right-box .login-box {
    background-color: white;
    padding: 0;
    border-top: 1px #DDD solid;
    border-bottom: 1px #DDD solid;
    font-size: 1.0em;
    overflow:hidden;
}

.index-page .ad-box .right-box .login-box li {
    float: left;
    text-align: center;
    padding: 8px 0;
    height: 20px;
}

.index-page .ad-box .right-box .login-box li.login {
    border-right: 1px #DDD solid;
    width: 49%;
}

.index-page .ad-box .right-box .login-box li.register {
    width: 50%;
}

.index-page .ad-box .right-box .login-box li.login a,
.index-page .ad-box .right-box .login-box li.register a {
    color: #09f;
}

.index-page .ad-box .right-box .login-to-box {
    background-color: white;
    padding: 0;
    border-bottom: 1px #DDD solid;
    font-size: 1.0em;
}

.index-page .ad-box .right-box .login-to-box li {
    float: left;
    text-align: center;
    padding: 0px 0;
    height: 50px;
    text-align: center;
}



.index-page .ad-box .right-box .login-to-box li.caigou {
    background-position: 24px 0px;
}

.index-page .ad-box .right-box .login-to-box li.xunjia {
    background-position: -45px 0px;
}

.index-page .ad-box .right-box .login-to-box li.guanzhu {
    background-position: -112px 0px;
}

.index-page .ad-box .right-box .login-to-box li a {
    text-decoration: none;
    display: block;
    padding-top: 22px;
    margin-left: 15px;
    width: 50px;
}

.index-page .ad-box .right-box .login-to-box li em {
    color: #F90;
    font-style: normal;
    margin-left: 2px;
}

.index-page .ad-box .right-box .message-box {
    padding: 10px;
    font-size: 12px;
    height: 112px;
}

.index-page .ad-box .right-box .message-box li {
    line-height: 22px;
    height: 22px;
    overflow: hidden;
}

.index-page .ad-box .right-box .message-box li.title {
    font-size: 1.2em;
    height: 26px;
}

.index-page .ad-box .right-box .safe-box {
    padding-left: 5px;
    font-size: 12px;
    border-top: 1px #DDD solid;
    border-bottom: 1px #DDD solid;
    background-color: white;
    height: 60px;
}

.index-page .ad-box .right-box .safe-box li {
    float: left;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 0;
    border-right: 1px #DDD solid;
    margin-right: 2px;
    width: 48px;
    height: 50px;
}

.index-page .ad-box .right-box .safe-box li.last-child {
    border-right: 0;
}

.index-page .ad-box .right-box .safe-box i {
    background-image: url("../images/site-sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    margin: 0 auto;
    width: 28px;
}

.index-page .ad-box .right-box .safe-box .imgicon-01 {
    background-position: 0 -50px;
}

.index-page .ad-box .right-box .safe-box .imgicon-02 {
    background-position: -50px -50px;
}

.index-page .ad-box .right-box .safe-box .imgicon-03 {
    background-position: -100px -50px;
}

.index-page .ad-box .right-box .safe-box .imgicon-04 {
    background-position: -150px -50px;
}



.main-categories-list-content .category-side-brand-box ul li {
    border: 1px solid #e4e4e4;
    float: left;
    height: 39px;
    margin: -1px 0 0 -1px;
    position: relative;
    width: 89px;
}


.main-categories-list-content .sub-category dd,
.main-categories-list-content .sub-category dt {
    font-family: Arial, 宋体, 微软雅黑, Helvetica, sans-serif;
}

.header-categories {}

.main-categories-list {}

.main-categories-list .item {}

.category-trigger {}



/*--toolbar-side*/

.toolbar-side {
    bottom: 120px;
    left: 50%;
    margin-left: 597px;
    position: fixed;
    z-index: 100;
}

.toolbar-side .back-top {
    display: none;
}

.side-toolbar li {
    height: 50px;
    margin-bottom: 5px;
}

.side-toolbar .side-toolbar-icon {
    background-image: url("../images/platform_bg_sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    overflow: hidden;
    text-indent: -9999em;
    width: 40px;
}

.side-toolbar .toolbar-side-1 {
    background-position: -360px -390px;
}

.side-toolbar .toolbar-side-1:hover {
    background-position: -360px -450px;
}

.side-toolbar .toolbar-side-2 {
    background-position: -540px -390px;
}

.side-toolbar .toolbar-side-2:hover {
    background-position: -540px -450px;
}

.side-toolbar .toolbar-side-3 {
    background-position: -480px -390px;
}

.side-toolbar .toolbar-side-3:hover {
    background-position: -480px -450px;
}

.side-toolbar .toolbar-side-4 {
    background-position: -420px -390px;
}

.side-toolbar .toolbar-side-4:hover {
    background-position: -420px -450px;
}

.side-toolbar .toolbar-side-5 {
    background-position: -599px -390px;
}

.side-toolbar .side-toolbar-icon2 {
    display: block;
    width: 50px;
    height: 50px;
    background: #F9F9F9;
}
/*banner*/
.swiper-container {
    width: 100%;
    height: 300px;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}


/*内容开始*/
/*recommend*/

.index-page .recommend {
    margin-top: 10px;
}

.index-page .recommend .title {
    font-size: 1.5em;
    color: #09F;
    padding: 10px 0 0 0;
}

.index-page .recommend .content dl a {
    color: #09F;
    text-decoration: none;
}

.index-page .recommend .content dl a:hover {
    color: #f60;
}

.index-page .recommend .content dl:hover {
    border-color: #F60;
}

.index-page .recommend .content dl {
    float: left;
    display: block;
    margin: 10px 10px 0 0;
    text-align: center;
    padding: 8px;
    height: 20px;
    background-color: #FAFAFA;
    border: 1px #EEE solid;
    width: 122px;
    height: 150px;
}

.index-page .recommend .content dl.last-child {
    float: right;
    margin-right: 0;
    width: 122px;
}

.index-page .recommend .content dt {
    font-size: 1.2em;
}

.index-page .recommend .content dd {
    height: 120px;
    padding: 0px;
    margin: 0;
}

.index-page .recommend .content dd img {
    border: 0;
    cursor: pointer;
}

/*hot*/

.index-page .hot {
    margin-top: 10px;
    overflow:hidden;
    clear: both;

}

.index-page .hot .title {
    font-size: 1.4em;
    color: #09F;
    padding: 10px 0 0 0;
}

.index-page .hot .left {
    float: left;
}

.index-page .hot .left .content {
    width: 890px;
}

.index-page .hot .left li {
    border: 1px #EEE solid;
    width: 885px;
    height: 240px;
    overflow: hidden;
    font-size: 0;
    margin-top: 15px;
}

.index-page .hot .left li:hover {
    border-color: #F60;
}

.index-page .hot .right {
    float: right;
    width: 290px;
}

.index-page .hot .right .brand .title {
    height: 41px;
}

.index-page .hot .right .brand .content {
    border: 1px #EEE solid;
    padding-bottom: 20px;
    overflow:hidden;
}

.index-page .hot .right .brand ul {
    padding: 0;
}

.index-page .hot .right .brand li {
    height: 45px;
    width: 112px;
}

.index-page .hot .right .brand li {
    float: left;
    margin-left: 20px;
    margin-top: 18px;
    overflow: hidden;
}

.index-page .hot .right .brand li .img {
    position: absolute;
    height: 45px;
    width: 112px;
}

.index-page .hot .right .brand li .name {
    overflow: hidden;
    width: 112px;
    height: 45px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    line-height: 45px;
    position: absolute;
    text-align: center;
    background: #09F;
    z-index: 10;
    display: none;
    text-decoration: none;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
    filter: alpha(opacity=10);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}

.index-page .hot .right .news {
    margin-top: 15px;
    border: solid #EEE 1px;
}

.index-page .hot .right .news .title .more {
    float: right;
    font-size: 14px;
    padding-top: 2px;
    color: #666;
    text-decoration: none;
}

.index-page .hot .right .news .content {
    clear: both;
}

.index-page .hot .right .news .tab {
    background-color: #f9f9f9;
    height: 36px;
    border-bottom: solid #EEE 1px;
}

.index-page .hot .right .news .tab ul {
    width: 100%;
}

.index-page .hot .right .news .tab .title {
    width: 143px;
    white-space: nowrap;
    font-size: 16px;
    padding: 8px 0;
    border-right: 1px solid #EEE;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}

.index-page .hot .right .news .tab .title.selected {
    background-color: white;
}

.index-page .hot .right .news .tab .title.last {
    border-right: none;
    width: 144px;
}

.index-page .hot .right .news .tab li {
    float: left;
}

.index-page .hot .right .news .more {
    float: right;
    font-size: 14px;
    padding-top: 2px;
    color: #666;
    text-decoration: none;
}

.index-page .hot .right .news .title .more:hover {
    color: #f60;
}

.index-page .hot .right .news .content {
    padding: 10px 15px;
}

.index-page .hot .right .news .content li {
    line-height: 28px;
    height: 28px;
    overflow: hidden;
}

.index-page .hot .right .news .content.baike {}

.index-page .hot .right .news .content.baike li {
    float: left;
    width: 115px;
    display: list-item;
    list-style: disc inside;
    list-style-image: url("../images/disc.jpg");
    padding-left: 5px;
    padding-right: 8px;
    margin-left: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-page .hot .right .news .content.baike li.clear {
    float: none;
    list-style: none;
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 0;
}

.index-page .hot .right .news .content.baike li.more-box {
    float: none;
    list-style: none;
    width: auto;
    padding-right: 0;
}
