html,body,ul,li,ol,table,tr,td,dl,dt,dd,img,input,p,div,form,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
ul li{
    list-style: none;
}
body{
    font-family: "Î¢ÈíÑÅºÚ",Arial;
    color: #444;
    font-weight: normal;
    font-size: 14px;
}

img {
    vertical-align: middle;
}
.img {
    display: inline-block;
    overflow: hidden;
}

.header {
    background-color: #0099ff;
}
.header-main .container {
    padding: 20px 5px;
    height: 80px;
    background-color: #0099ff;
    line-height:80px;
}
.header-main #logo,
.header-main .main-nav {
    float: left;
}
.header-main #logo {
    margin-bottom: 0;
    margin-right: 18px;
}
.header-main .hotline {
    float: right;
    margin: 0;
    color: #fff;
}
.header-bar {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dadada;
    padding: 3px 0 0;
    height: 28px;
    font-size: 12px;
    line-height: 20px;
}
.header-bar:before,
.header-bar:after {
    content: " ";
    display: table;
}
.header-bar:after {
    clear: both;
}
.header-bar p {
    margin-bottom: 0;
}
.header-bar a {
    text-decoration: none;
    color: #222;
}
.header-bar a:hover,
.header-bar a:active {
    text-decoration: none;
}
.header-bar a.link-outstanding {
    color: #ffaa01;
}
.header .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header-bar .header-bar-left {
    float: left;
}
.header-bar .header-bar-left a {
    margin: 0 0 0 8px;
}
.content .ve-row {
    width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
.header-bar-right {
    float: right;
}
.header-bar-right .item {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0 7px 0 8px;
    margin-left: -1px;
    border: 1px solid transparent;
    border-right-color: #e4e4e4;
    border-bottom: none;
}

.register-page {
    background-color: #fbfbfb;
    height:574px;
}
.register-page .container {
    position: relative;
    padding: 25px 0 30px;

}
.register-page .container .reg-img {
    position: absolute;
    top: 80px;
    right: 150px;
    width: 300px;
    height: 342px;
    background: url("../images/reg-bg.png") no-repeat 0 0;
    float: right;
}
.box-register {
    width: 420px;
}
.content > .container {
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
.box .box-title{
    border-bottom:2px solid #e4e4e4;
}
.item-input {
    margin-bottom: 10px;
}
.box-register {
    width: 420px;
}
.box-register .box-body {
    padding: 35px 0 0;
}
.box-register .form-group,
.box-register .item-input {
    margin-bottom: 20px;
}
.box-register .input-content {
    position: relative;
    margin-right: 0;
    vertical-align: middle;
}
.box-register .input-label {
    width: 100px;
    margin-right: 3px;
    margin-top: 8px;
    text-align: right;
    display: block;
    float: left;
}
.box-register .form-control {
    padding: 0px 6px;
    height: 32px;
}
.box-register .input-full,
.box-register .btn-full {
    width: 295px;
}
.box-register .input-half {
    width: 100px;
}
.box-register .btn.input-half {
    margin-left: 10px;
    padding: 5px 12px;
}
.box-register .checkbox {
    margin-bottom: 0;
    font-size: 14px;
}
.box-register .checkbox-content,
.box-register .submit-content,
.box-register .login-link-content {
    padding-left: 102px;
}
.box-register .checkbox-content,
.box-register .submit-content {
    margin-bottom: 15px;
}
.box-register .checkbox-content {
    margin-top: -7px;
}
.box-register .checkbox-content .input-label {
    margin-top: 0;
}
.box-register .login-link-content {
    font-size: 12px;
    margin-bottom: 0;
}
.box-register .login-link-content .login {
    margin-bottom: 0;
}
.box-register .refresh {
    font-size: 12px;
    margin-left: 5px;
}
.box-register .btn-default {
    margin-left: 10px;
    vertical-align: middle;
}
.box-register img {
    height: 28px;
    margin-left: 5px;
    vertical-align: middle;
}
.box-register .input-icon {
    top: 5px;
    right: 6px;
}
.box-register .input-error .error-text {
    width: 280px;
    position: absolute;
    left: 320px;
    top: 7px;
    display: inline-block;
}
.box-register .input-pop-tip {
    width: 310px;
}
.box-register .pass-strength {
    position: absolute;
    left: 0;
    bottom: -17px;
}
.form-control {
    height: 30px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-content {
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
}
.box-register .btn-full {
    width: 310px;
}
.btn-lg {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
    font-weight: normal;
}
.btn-submit {
    color: #fff;
    background-color: #ffaa01;
    border-color: #e79900;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}
.box-register .submit-content {
    margin-bottom: 15px;
    padding-left: 102px;
}
.box .box-title h3 {
    position: relative;
    bottom: -2px;
    z-index: 10;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 10px;
    border-bottom: 3px solid #0099ff;
}



.footer {
    background-color: #2b2b2b;
}
.footer .about-links {
    padding: 15px 0 30px;
    border-top: 1px solid #757373;
    text-align: center;
    font-size: 12px;
}
.footer .about-links.login-footer {
    padding: 30px 0 30px;
    border-top: none;
}
.footer .about-links .nav {
    color: #999;
    margin-bottom: 0;
}
.footer .about-links .nav a {
    color: #999;
}
.footer .about-links .copyright {
    color: #ccc;
    margin-bottom: 20px;
}
.footer .about-links .links {
    width: 1000px;
    margin: 0 auto;
    color: #ccc;
}
.footer .about-links .links a {
    display: inline-block;
    padding: 0 2px;
    color: #ccc;
}